/* =============
    Footer
============= */
#footer {
    #footer-content {
        background-color: #484D30;
        height: 80px;
        position: relative;

        aside {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #copyright-text {
            bottom: 10px;
            position: absolute;
            right: 10px;

            p {
                color: white;
            }
        }
    }
}