/* =============
    Footer
============= */
#footer{
    display: grid;
    grid-template-columns: auto 10% auto;
    grid-template-areas: ". footer ."; 
}

    #footer-content {
        grid-area: footer; 
    }