/* =============
    Section 1
============= */
#section-1 {
    align-items: center;
    background-image: url('../img/section-1/hero.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 50vh;
    justify-content: center;
    margin-top: 90px;

    @include md {
        height: 50vh;
    }

    @include lg {
        height: 70vh;
    }

    @include xl {
        height: 60vh;
    }
}