/* =============
    Section 1
============= */

#section-1 {
    background-image: url('../img/section-1/hero.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    // position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
        height: 50vh;

    }

    @include lg {
        height: 70vh;
    }

    @include xl {
        height: 60vh;
    }

}