/* =============
    Section 6
============= */
#section-6 {

    @include md {
        display: grid;
        grid-template-columns: auto 80% auto;
        grid-template-areas: ". section-6 .";
    }

    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    #section-6-container {
        @include md {
            grid-area: section-6;
        }

        @include lg {
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include xl {}

        aside {

            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 35px;

            @include md {
                padding-bottom: 45px;
            }

            @include lg {
                padding-bottom: 50px;
            }

            // img{
            //     width: 100%
            // }

        }



        #section-6-content {

            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". section-6-text .";

            @include md {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #section-6-content-text {
                grid-area: section-6-text;
            }

            // display: flex;
            // justify-content: center;
            // align-items: center;





        }
    }
}