// /* =============
//     Section 2
// ============= */

#section-2 {
    @include xl {
        display: grid;
        grid-template-areas: ". section-2-content .";
        grid-template-columns: auto 1200px auto;
    }

    #section-2-container {
        @include md {
            display: grid;
            gap: 20px;
            grid-template-areas: "photo text";
            grid-template-columns: 40% auto;
        }

        @include lg {
            grid-template-columns: 50% auto;
        }

        @include xl {
            grid-area: section-2-content;
        }

        aside {
            background-image: url("../img/section-2/egg.jpg");
            background-position: center bottom;
            background-size: cover;
            height: 60vh;

            @include md {
                grid-area: photo;
                height: 45vh;
            }

            @include lg {
                height: 70vh;
            }
        }

        #section-2-content {
            // border: 1px solid red;
            display: grid;
            grid-template-areas: ". section-2 .";
            grid-template-columns: 10px auto 10px;
            padding-bottom: 40px;

            @include md {
                align-items: center;
                display: flex;
                grid-area: text;
                justify-content: center;
                padding-bottom: 0px;
                padding-right: 10px;
            }

            #section-2-content-text {
                grid-area: section-2;
            }
        }
    }
}